@charset "UTF";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient( to top, #4A7271, #a38e8a);
    }

    section {
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;

    }

    #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient( to top, #4A7271, #a38e8a);
    }

    section {
        width: 992px;

    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 50%;
    }
}
