@charset "UTF";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient( to top, #4A7271, #a38e8a);
    }

    section {
        width: 70vw;
    }

    
    #container {
        margin-top: 7%;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;

    }

    #formulario {
        padding-top: 15%;
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient( to top, #4A7271, #a38e8a);
    }

    section {
        width: 992px;

    }

    #container {
        margin-top: 5%;
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario {
        padding-top: 10%;
        float: right;
        width: 50%;
    }
    
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2em;
    }
}
