@charset "UTF-8";

body {
    background-image: url(imagens/pexels-luciann-photography-3566226.jpg);
    background-color: black;
    background-size: 100%;
    font-family: sans-serif;
    padding: 20px;
    MARGIN-TOP: 140px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .desde {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: rgba(216, 141, 101, 0.711);
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    max-width: 510px;
  }
  
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  
  .linhatopo {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .bebidas, .lanches {
    text-align: left;
    width: 75%;
  }
  
  .preço {
    text-align: right;
    width: 25%
  }

  /* FOOTER */

footer {
  font-size: 14px;
}

.endereço {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}



